.list-holder{
  width: 75%;
  margin: 10px auto;
}

#add-btn{
  margin-top: 10px;
}

input{
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  width: 100%;
  color: grey;
  padding-left: 10px;
}
